<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
{{if .errors}}
<ul style="color:red;">
    {{range .errors}}
    <li>{{.}}</li>
    {{end}}
</ul>
{{end}}
<form method="post" action="/auth/register-form">
    <label>
        <input type="text" name="Login" placeholder="Логин">
    </label><br>
    <label>
        <input type="password" name="Password" placeholder="Пароль">
    </label><br>
    <label>
        <input type="text" name="Email" placeholder="Email">
    </label><br>
    <label>
        <input type="text" name="Phone" placeholder="Телефон (10 цифр)">
    </label><br>
    <button type="submit">Зарегистрироваться</button>
</form>
</body>
</html>
