<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="/css/auth-style.css">
</head>
<body>
{{ template "header" . }}
<div class="center-wrapper">
    <div class="form-container">
        <h1>Вход</h1>
        <form method="post" action="/auth/login">
            <label>
                <input type="text" name="Email" placeholder="Email" value="{{.form.Email}}">
                {{with index .fieldErrors "Email"}}
                <p class="error">{{.}}</p>
                {{end}}
            </label><br>

            <label>
                <input type="password" name="Password" placeholder="Пароль">
                {{with index .fieldErrors "Password"}}
                <p class="error">{{.}}</p>
                {{end}}
            </label><br>

            <button type="submit">Войти</button>
        </form>

        {{if .error}}
        <div class="error">{{.error}}</div>
        {{end}}
    </div>
</div>
</body>
</html>