<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/auth-style.css">
</head>
<body>
{{ template "header" . }}
<h2>Login</h2>
<form action="/auth/login" method="POST">
    <label>Email:
        <input type="text" name="Email" value="{{.form.Email}}">
        <span style="color:red">{{index .fieldErrors "Email"}}</span>
    </label><br>
    <label>Password:
        <input type="password" name="Password">
        <span style="color:red">{{index .fieldErrors "Password"}}</span>
    </label><br>
    <div style="color:red">{{.error}}</div>
    <button type="submit">Login</button>
</form>
</body>
</html>
