<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Объявления</title>
    <link rel="stylesheet" href="/css/motorcycle-style.css">
</head>
<body>
{{ template "header" . }}
<h1>Все мотоциклы</h1>
{{ if .motorcycles }}
<ul class="motorcycle-list">
    {{ range .motorcycles }}
    <li class="motorcycle-card">
        <div class="motorcycle-image">
            <img src="/{{ (index .Images 0).ImagePath }}" alt="Фото мотоцикла">
        </div>
        <div class="motorcycle-details">
            <div class="title">
                <a href="/motorcycles/{{ .ID }}"><strong>{{ .Brand.Brand }} {{ .MotoModel.MotoModel }}</strong> – {{ .Year }} г.</a>
            </div>
            <div class="specs">
                Объём: {{ .Volume }} см³<br>
                Пробег: {{ .Mileage }} км<br>
                Телефон: {{ .Phone }}
            </div>
            {{ if .Description }}
            <div class="description">
                <strong>Описание:</strong> {{ .Description }}
            </div>
            {{ end }}
        </div>
    </li>
    {{ end }}
</ul>
{{ else }}
<p>Объявлений пока нет.</p>
{{ end }}
</body>
</html>
