<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать мотоцикл</title>
    <link rel="stylesheet" href="/css/motorcycle-style.css">
    <script>
        window.modelData = {
            allModels: {{ .models }},
            selectedModelID: {{ .form.ModelID }}
        };
    </script>

    <script src="/js/model_by_brand.js" defer></script>

</head>
<body>
{{ template "header" . }}
<h1>Редактирование мотоцикла</h1>

{{ if .errors }}
<p style="color:red">{{ .errors }}</p>
{{ end }}

<form action="/motorcycles/edit/{{.form.ID}}" method="post" enctype="multipart/form-data">
    <label>Марка:
        <select name="BrandID" id="brandSelect" required>
            <option value="">-- Выберите марку --</option>
            {{ range .brands }}
            <option value="{{ .ID }}" {{if eq .ID $.form.BrandID}}selected{{end}}>{{ .Brand }}</option>
            {{ end }}
        </select>
    </label>
    {{with index .fieldErrors "BrandID"}}<p style="color:red">{{.}}</p>{{end}}
    <br>

    <label>Модель:
        <select name="ModelID" id="modelSelect" required>
        </select>
    </label>
    {{with index .fieldErrors "ModelID"}}<p style="color:red">{{.}}</p>{{end}}
    <br>

    <label>Год:
        <input type="number" name="Year" value="{{.form.Year}}" required>
    </label>
    {{with index .fieldErrors "Year"}}<p style="color:red">{{.}}</p>{{end}}
    <br>

    <label>Объём (см³):
        <input type="number" name="Volume" value="{{.form.Volume}}" required>
    </label>
    {{with index .fieldErrors "Volume"}}<p style="color:red">{{.}}</p>{{end}}
    <br>

    <label>Пробег (км):
        <input type="number" name="Mileage" value="{{.form.Mileage}}" required>
    </label>
    {{with index .fieldErrors "Mileage"}}<p style="color:red">{{.}}</p>{{end}}
    <br>

    <label>Описание:
        <textarea name="Description">{{.form.Description}}</textarea>
    </label>
    {{with index .fieldErrors "Description"}}<p style="color:red">{{.}}</p>{{end}}
    <br>

    <label>Изображения (если хотите заменить, выберите до 10 новых):
        <input type="file" name="Images" accept="image/*" multiple>
    </label>
    {{with index .fieldErrors "Images"}}<p style="color:red">{{.}}</p>{{end}}
    <br>
    <button type="submit">Сохранить изменения</button>
</form>
</body>
</html>